header {
    background-color: #000;
    color:#fff;
}
.main-navbar {
    background-color: #5B616A;
}
h1 {
    text-align: center;
    margin: 30px auto;
}
.main {
    padding: 3% 10%;
}
.main .col-lg-3 button:nth-child(odd) {
    background-color: #D8D78F;
    color: white;
}
.main .col-lg-3 button:nth-child(even) {
    background-color: #A0B9C6;
    color: white;
}
.carousel-item {
    text-align: center;
}
.minister {
    height:20rem;
}
.tab-content {
    margin-top: 2rem;
}
.card .badge {
    background-color: #A0B9C6;
    color:#fff;
}
.card-title {
    color: #4C4C4C;
    font-weight: 700;
    font-size: 3rem;
}
.card-text {
    color: #5B616A;
}
/* Complaint Status */
.breadcrumb
{
    background-color: white;
}
.crow
{
    margin: auto;
    padding-left: 200px;
}
.check-status
{
    margin-left: 650px;
    background-color: #A0B9C6;
    color:white;
}
textarea
{
    resize: none;
}
.detail {
    display:none;
}
tr:hover {
    cursor: pointer;
}
tr:hover .detail {
    display: block;
}
tr:hover .ctitle
{
    font-weight: bold;
}
.badge
{
   float: right;
}
.buttons {
    background-color: #D8D78F;
    color: #000;
    text-decoration: none;
    margin-right:15px;
}
.buttons:hover {
    color: #000;
}
.complaint-details {
    padding: 1% 5%;
}
.detail-page-btn {
    background-color: #A0B9C6;
    color: #000;
    transform: translateX(-100px);
    margin-right: 15px;
    margin-top: 50px;
}
.detail-page-btn:hover {
    color: #000;
}
